<div class="border-bottom row" style="margin-bottom:16px;padding-bottom:8px;">
  <div class="col-10">
    <h4 
      style="color:rgb(120,120,120); margin-bottom:4px;">
      {{job['title']}}
    </h4>
    <div>
      <b>Location:</b> {{job['location']}}
    </div>
    {% if 'salary' in job %}
    <div>
      <b>Salary:</b> {{job['salary']}}
    </div>
    {% endif %}
  </div>
  <div class="col-2">
    <button type="button" class="btn btn-outline-primary float-right align-middle">Apply</button>
  </div>
  
</div>